.navbarr {
    width: 100%;
    padding: 10px;
    position: relative;
    top: 0;
    color : white !important;
    /* transition: top 0.6s; */
    background-color : #1b0dc1 !important;
  }
  
  .navbar--hidden {
    opacity: 0.7;
  }

  .navbar--hidden a{
    opacity: 1;
    font-weight: bold;
    color: white;
  }

.ant-menu-item-selected {
    color : #f7fd00 !important;
    border-bottom: 3px solid #f7fd00 !important
}

.ant-menu-item-active {
    color : #f7fd00 !important;
    border-bottom: 3px solid #f7fd00 !important
}